@import url("https://solargentinotv.com.ar/assets/fonts/Barlow/Barlow.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BarlowC", sans-serif;
}

body {
    background: #0b0e14;
    color: white;
}

.topbar {
    padding: 18px 40px;
    background: #10141d;
    border-bottom: 3px solid #ff2020;
}

.logo {
    font-size: 28px;
    font-weight: 900;
}

.logo span {
    color: #ff2020
}


/* HERO */

.heroWrap {
    position: relative
}

.heroImg {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    filter: brightness(.6);
}

.heroTitle {
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 40px;
    font-size: 54px;
    font-weight: 900;
}


/* CONTENIDO */

#articulo {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 25px 60px;
}

#contenidoArticle {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #ddd;
}

.video-wrapper {
    margin: 40px 0;
    aspect-ratio: 16/9;
}

.backBtn {
    display: inline-block;
    margin-bottom: 30px;
    color: #ff2020;
    text-decoration: none;
    font-weight: 700;
}