@import url("https://solargentinotv.com.ar/assets/fonts/Barlow/Barlow.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BarlowC", sans-serif;
}

body {
    background: #0b0e14;
    color: white;
}

/* HEADER */

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    background: #10141d;
    border-bottom: 3px solid #ff2020;
}

.logo {
    font-size: 32px;
    font-weight: 900;
}

.logo span {
    color: #ff2020
}


/* DROPDOWN */

.dropdown {
    position: relative;
    cursor: pointer
}

.dropSelected {
    background: #1e2433;
    padding: 6px 14px;
    border-radius: 6px
}

.dropMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 38px;
    background: #1e2433
}

.dropMenu div {
    padding: 8px 14px
}

.dropdown.open .dropMenu {
    display: block
}


/* SLIDER */

.slider {
    height: 65vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    padding: 50px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 1s;
}

.slide.active {
    opacity: 1
}

.overlay {
    background: rgba(0, 0, 0, .8);
    padding: 25px;
    border-left: 6px solid #ff2020;
}

.matchTitle {
    font-size: 60px;
    font-weight: 900;
}

.matchDate {
    font-size: 22px;
    color: #ddd;
}


/* NOTICIAS (igual al home) */

.newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}